/**
 * ## Notes
 *
 * @import statements ending in `.css` are relative to the `build/css` directory
 */

/*------------------------------------*\
    #Settings
\*------------------------------------*/

@import "settings";

/*------------------------------------*\
    #Tools
\*------------------------------------*/

/**
 * Libs
 */

@import "assets/components/bourbon/app/assets/stylesheets/bourbon";
@import "assets/components/neat/app/assets/stylesheets/neat";

/**
 * Functions
 */

@import "functions/em";
@import "functions/rem";

/**
 * Mixins
 */

@import "mixins/breakpoints";
@import "mixins/svg-background";
@import "mixins/type";


/*------------------------------------*\
    #Generic
\*------------------------------------*/

// Normalize
@import "assets/components/normalize-scss/normalize";

.hidden {
    @include hide-text;
}

.table-links {
    display: table;
    margin: 0 auto;
}

/*------------------------------------*\
    #Base
\*------------------------------------*/

::selection {
  background: #87BAF4;
}

body {
    background: $secondary;
    color: $primary;
}

a {
    text-decoration: underline;
    color: inherit;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    font-family: $headlineFont;
}

p {
    margin: 0;
}

p + p {
    margin-top: rem($gutterSize);
}

p, li {
    font-family: $copyFont;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

/*------------------------------------*\
    #Objects
\*------------------------------------*/

.container {
    @include outer-container;
}

.icon {
  display: inline-block;
  fill: #fff;
}

.btn {
    @include small-caps;
    border-radius: rem(5);
    padding: rem(10) rem(20);
    border-width: rem(2);
    color: $secondary;
    background: $primary;
    border: none;
    border-color: $primary;
    border-style: solid;
    text-decoration: none;
    text-align: center;

    &:hover {
        color: $primary;
        background: none;
    }
}

    .btn--negative {
        color: $primary;
        background: none;

        &:hover {
            color: $secondary;
            background: $primary;
        }
    }

.row {
    @include row();
    padding: 0 rem($gutterSize);
    padding: 0 rem($gutterSize);

    @include screen-xs {
        padding: 0;
    }
}

/*------------------------------------*\
    #Components
\*------------------------------------*/

.icon--logo {
    height: rem(27);
    width: rem(230);
}

.home {}

    .home__section {
        margin-bottom: rem($gutterSize * 4);

        @include screen-xs {
            @include outer-container;
            margin-bottom: rem($gutterSize * 5);
        }
    }

    .home__section--readability {
        line-height: 1.8;

        @include screen-xs {
            @include span-columns(6);
            @include shift(3);
        }
    }

    .home__section-header {
        font-size: rem(50);
        margin-bottom: rem($gutterSize * 2);
        text-transform: none;
        text-align: center;
        line-height: rem(55);
        letter-spacing: rem(-.08);

        @include screen-xs {
            margin-top: 0;
        }
    }

.page-head {
    padding: rem($gutterSize) 0 rem($gutterSize);
    text-align: center;
    border-bottom: rem(2) solid $primary;

    @include screen-xs {
        padding-top: rem($gutterSize * 2);
        text-align: left;
        position: relative;
    }
}

    .page-head__left-block {
        // position: absolute;
        // bottom: $gutterSize;
        // left: 0;
    }

    .page-head__right-block {
        display: none;

        @include screen-xs {
            bottom: rem($gutterSize);
            position: absolute;
            right: 0;
            display: block;
        }
    }

    .page-head__center-block {
        text-align: center;
        a {
            color: $primary;
            font-family: $headlineFont;
            text-decoration: none;
        }
    }

        .page-head__nav-item {
            @include small-caps;
            margin: 0 rem($gutterSize/2);
            display: inline-block;
        }

.page-footer {
    padding-top: rem($gutterSize);
    margin: 0 auto rem($gutterSize * 2);
    clear: both;
    border-top: rem(2) solid $primary;
    text-align: center;

    @include screen-xs {
        text-align: left;
    }
}

    .page-footer__item {
        @include small-caps;
        font-size: rem(12);
        margin: rem($gutterSize/2) rem(15);

        @include screen-xs {
            font-size: rem(13);
            display: inline-block;
            margin: 0 rem(15);
        }
    }

    .page-footer__link {
        font-size: rem(13);
        display: block;

        @include screen-xs {
            display: inline-block;
        }
    }

.jumbotron {
    margin-top: rem($gutterSize * .75);

    &:before {
        display: none;
    }

    @include screen-xs {
        margin: rem($gutterSize * 3) 0;
    }
}

    .jumbotron__title {
        font-size: rem(90);
        line-height: rem(90);
        margin-bottom: rem($gutterSize * 2);
        text-align: center;

        @include screen-xs {
            @include span-columns(6);
            font-size: rem(102);
            line-height: rem(110);
            letter-spacing: rem(-.16);
            margin-top: rem(-20);
            margin-bottom: 0;
        }
    }

    .jumbotron__caption {
        font-size: rem(21);
        letter-spacing: rem(.19);
        line-height: rem(33);
        text-align: center;

        @include screen-xs {
            @include span-columns(6);
            font-size: rem(21);
            letter-spacing: rem(.19);
            line-height: rem(33);
            text-align: left;
        }
    }

        .jumbotron__caption-link {
            margin-top: rem(25);
            display: block;
            background: $primary;
            color: $secondary;

            @include screen-xs {
                margin: 0 0 0 rem(20);
                background: none;
                color: $primary;
                display: none;
            }

        }

.service {
    text-align: center;
    margin-top: rem($gutterSize * 2);

    &:first-child {
        margin-top: 0;
    }

    @include screen-xs {
        @include span-columns(3);
        margin-top: 0;
    }
}
    .service__blurb {
        line-height: rem(25)
    }

    .service__header {
        @include small-caps;
        margin-bottom: rem(20);
    }

    .service__icon {
        height: rem(150);
        width: rem(150);
        margin-bottom: rem($gutterSize);
    }

/**
 * The Big List has custom styled numbers, created
 * through CSS generated content and the counter property.
 */

.big-list {
    counter-reset: li;
}

    .big-list__item {
        margin-bottom: rem($gutterSize * 2);
        font-size: rem(19);
        position:relative;

        &:before {
            display: block;
            margin: 0 auto rem($gutterSize);
            content: counter(li);
            counter-increment: li;
            width: rem(80);
            height: rem(80);
            font-family: $headlineFont;
            color: $secondary;
            background: $primary;
            font-weight: 800;
            text-align: center;
            border-radius: 50%;
            font-size: rem(56);
            line-height: rem(70);

            @include screen-xs {
                margin-bottom: 0;
                position: absolute;
                top: rem(13);
                left: rem(-100);
            }
        }

        @include screen-xs {
            margin-left: rem($gutterSize);
        }
    }

.subtraction-list {
    @include clearfix;
    @include shift(1);
    @include span-columns(10);

}
    .subtraction-list__item {
        @include span-columns(4);
        @include omega(3n);
        @include small-caps;
        border-bottom-width: rem(2);
        margin-bottom: rem(20);
        border-bottom-color: $primary;
        border-bottom-style: solid;
    }

        .subtraction-list__link {
            padding-bottom: rem(2);
            color: $primary;
        }

/*------------------------------------*\
    #Trumps
\*------------------------------------*/


