/**
 * Layout Objects
 */

.container,
%container {
    @include outer-container;
}

.row {
    @include row();
    padding: 0 em($gutterSize);
    padding: 0 em($gutterSize);
}

.table-links {
    display: table;
    margin: 0 auto;
}